public/swagger.json

node_modules
dist/
build/

.idea
.forever
.DS_Store
.vscode

*/**/production.json
*/**/*.production.json
*/**/development.json
*/**/*.development.json

*/**/development.ts
*/**/*.development.ts


dev.log
*/**/*.log

dist

.vscode-upload.json
.vscode
